@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --success-color: green;
    --error-color: orangered;
}
* {
 box-sizing:border-box;
}
html {
    height: 90%;
}
body {
    margin-top: 2.5%;
    font-family: 'Lato', 'sans-serif';
    text-align: center;
    background-color:rgba(0,0,0,0.2);
    background-image: url("assets/bg-ed1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    height: 100%;
}
.container {
    background-color:#fff;
    margin-left:5%;
    padding-top: 50px;
    width: 30%;
    height: 100%;
}
.logo-img{
    width:inherit; 
    margin: 0% auto 2%;
    
}
.form-control{
    margin: 10px 0px;
    font-weight: 600;
}
.form-control small{
    color: var(--error-color);
    visibility:hidden;
}
.form-control.error small{
    visibility:visible;
}
.form-control input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 50%;
    padding: 1% 2%;
    line-height: 20px;
    margin: 2% auto 0%;
    display: block;
}
.form-control input:focus{
    outline: 0;
}
.form-control.success input{
    border-bottom-color: var(--success-color);
}
.form-control.error input{
    border-bottom-color: var(--error-color);
}
.btn{
    width: 50%;
    margin: 3% auto 4%;
    background-color: #F79F3C;
    font-family: 'Lato', 'sans-serif';
    border:none;
    padding: 1% 0%;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover{
    color: #fff;
    font-weight: 500;
}
.home-link{
    color: #02154D;
    font-weight: 600;
    text-decoration: none;
}
.home-link:hover{
    color: #F79F3C;
}