@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'sans-serif';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    margin: 0;
}

.swap-rates-container, .currency{
    margin: 20px;
}
input{
    padding: 5px;
    border-radius: 5px;
}
select{
    padding: 5px;
    border-radius: 5px;
}
button{
    padding: 5px;
    border-radius: 5px;
    background-color: #20b2aa;
    color: #000;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 10pt;
}
button:hover{
    color: #fff;
    transform: scale(1.05);
    transition: transform .3s ease;
}
.rate{
    font-size: 12px;
    margin-left: 20px;
    font-weight: 600;
}
.swap-rates-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.home-link{
    color: #02154D;
    font-weight: 600;
    text-decoration: none;
}
.home-link:hover{
    color: #F79F3C;
}