@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: darkgray;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
}
.video{
    width: 50%;
    cursor: pointer;
}
.controls{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 0px 10px;
}
.controls .btn{
    border: 0;
    background-color: transparent;
    color: black;
    cursor: pointer;
}
.time{
    font-weight: bold;
    margin-left: 10px;
}
@media(max-width:800px){
    .video .controls{
        width: 90%;
    }
}
.home-link{
    color: #02154D;
    font-weight: 600;
    text-decoration: none;
}
.home-link:hover{
    color: #F79F3C;
}